

header {
    width: 100%;
    background-color: rgb(255, 166, 0);
    margin-bottom: 30px;
}

.header2 {
    margin-bottom: 0px;
    background-color: #cd5700;
}



ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0;
    padding: 0;
}

.ul2 {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;

    color: white;
    margin: 0;
    padding: 0;
}

.a2 {
    display: block;
    color: white;
    text-decoration: none;
    padding: 3px;
}


a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.label {
    color: orange;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blockImg {
    max-width: 100%;
    max-height: 100%;
}

.iconImg {
    max-width: 30px;
    max-height: 30px;

}

.blockText {
    color: grey;
}


.block {
    width: 23%;
    margin-bottom: 50px;
}


.mainBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

